$bg: #0A0C10;
$logotextcolor: #fff;
$sectionbgcolor: #1B1D21;
$fieldbgColor:#303235;
$fieldTextColor:#64748B;
$selectedbuttonColor:#00D2FF;
$selectedButtonTextColor:#fff;

$h1font-family: Inter;
$h1font-weight: 900;
$h1font-style: Black;
$h1font-size: 48px;
$h1leading-trim: NONE;
$h1line-height: 100%;
$h1letter-spacing: 0px;
$h1text-align: center;
$h1vertical-align: middle;
$h1text-transform: uppercase;
$h1color:#F1F5F9;


$h2font-family: Inter;
$h2font-weight: 900;
$h2font-style: Black;
$h2font-size: 14px;
$h2leading-trim: NONE;
$h2line-height: 20px;
$h2letter-spacing: 2.8px;
$h2vertical-align: middle;
$h2text-transform: uppercase;
$h2color: #00D2FF;

$pcolor:#94A3B8;

